<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile=".\internal_logs\internallog.txt">  
    
    <targets>
        <target name="logfile" xsi:type="File" fileName="/Users/sergejvasilev/Documents/programming/Projects/Rider_projects/PsychoQuest/PsychoQuest/PsychoQuest/NLog/${shortdate}_log.log" 
                layout="${longdate} ${level:uppercase=true} ${message}"/>
    </targets>
    
    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>